{# Set layout variables before extending the layout #}
{% set metaDescription = "Welcome to my website!" %}

{% extends "public/layouts/default.twig" %}

{% block content %}
  <main>
    <h1>
      About
    </h1>
    <p>
      Example of another page.
    </p>
  </main>
{% endblock %}
